body {
    background-color: #999;
    display: flex;
    flex-flow: column wrap
}

ul {
    display: flex;
    list-style: none;
    padding: 0%;
    margin: 0%
}

ul li:first-child {
    background-color: #333;
    width: 8rem;
    height: 8rem;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center
}

ul li:first-child:hover {
    background-color: #fff;
    cursor: pointer;
}

a {
    color: orangered
}

ul li:nth-child(even) {
    background-color: #333;
    width: 10rem;
    height: 8rem;
    font-size: 2rem;
    color: #fff;
    position: relative;
    left: -260px;
}

li:nth-child(odd):hover+li:nth-child(even) {
    transform: translateX(300px);
    transition: all 1.5s
}